:root {
  @media (prefers-color-scheme: dark) {
    --scheme-main: 'black';
    --scheme-invert: 'white';
  }
  @media (prefers-color-scheme: light) {
    --scheme-main: 'white';
    --scheme-invert: 'black';
  }
}

$scheme-main: var(--scheme-main);
$scheme-invert: var(--scheme-invert);

@import '~bulma/bulma.sass';
