@charset "utf-8";

:root {
  @media (prefers-color-scheme: dark) {
    --scheme-main: 'black';
    --scheme-invert: 'white';
    --text-string: --scheme-invert;
  }
  @media (prefers-color-scheme: light) {
    --scheme-main: 'white';
    --scheme-invert: 'black';
  }
}

$scheme-main: var(--scheme-main);
$scheme-invert: var(--scheme-invert);

@import '~@bulvar/bulma/bulma.sass';
